body {
    margin: 0;
    background-image: url(../img/nick-fewings-wyJ6aIxt5qg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.big-size {
    font-size: 45px;
}

.color-verde {
    background-color: #4addc1;
    border: none;
}

.alto-fijo {
    height: 95px;
}

.ancho-completo {
    width: 100%;
}

.form-top-left {
    background-color: white;
    padding: 10px 20px 0px 20px;
    border-top-left-radius: 5px;
    color: #b5b5b5;
}

.form-top-right {
    background-color: white;
    padding: 0px 20px 10px 20px;
    border-top-right-radius: 5px;
    color: #e0e0e0;
}

.form-bottom {
    background-color: #e0e0e0;
    padding: 10px 20px 10px 20px;
}

.my-header {
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
}

.my-footer {
    margin-top: 20px;
    color: lightgray;
    font-size: 12px;
}

.social-button {
    color: lightgray;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}