body {
    margin: 0;
}

.navbar {
    padding: 0;
}

.navbar-row {
    margin: 0;
    width: 100%;
}

.navbar-col {
    background-color: blue;
    color: white;
}

.maincontent {
    padding: 0;
}

.maincontent-row {
    margin: 0;
    width: 100%;
}

.maincontent-left {
    background-color: yellow;
    color: black;
}

.maincontet-right {
    background-color: fuchsia;
    color: black;
}


.auxcontent {
    padding: 0;
}

.auxcontent-row {
    margin: 0;
    width: 100%;
}

.auxcontent-col {
    background-color: green;
    color: white;
}

.footer {
    padding: 0;
}

.footer-row {
    margin: 0;
    width: 100%;
}

.footer-col {
    background-color: brown;
    color: white;
}

